In [45]:
import seaborn as sns
import pandas as pd #모듈 준비

df = sns.load_dataset('penguins')
gentoo_df = df.loc[df['species'] == 'Gentoo']

gentoo_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
220,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,Female
221,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,Male
222,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,Female
223,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,Male
224,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,Male

In [62]:
gentoo_full = gentoo_df[['body_mass_g', 'bill_depth_mm', 'flipper_length_mm']]
gentoo_bill_length  = gentoo_df[['bill_length_mm']]

for cols in ['body_mass_g', 'bill_depth_mm', 'flipper_length_mm']:
    gentoo_full[cols] = gentoo_full[cols].fillna(gentoo_full[cols].mean())

gentoo_bill_length['bill_length_mm'] = gentoo_bill_length['bill_length_mm'].fillna(gentoo_bill_length['bill_length_mm'].mean())

C:\Users\1-20\AppData\Local\Temp\ipykernel_9768\4018734544.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gentoo_full[cols] = gentoo_full[cols].fillna(gentoo_full[cols].mean())
C:\Users\1-20\AppData\Local\Temp\ipykernel_9768\4018734544.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gentoo_bill_length['bill_length_mm'] = gentoo_bill_length['bill_length_mm'].fillna(gentoo_bill_length['bill_length_mm'].mean())

In [63]:
from sklearn.model_selection import train_test_split

In [64]:
train_input, test_input, train_target, test_target =\
train_test_split(gentoo_full, gentoo_bill_length)

gentoo_bill_length

     bill_length_mm
220       46.100000
221       50.000000
222       48.700000
223       50.000000
224       47.600000
..              ...
339       47.504878
340       46.800000
341       50.400000
342       45.200000
343       49.900000

[124 rows x 1 columns]

In [65]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(include_bias=False)

In [66]:
poly.fit(train_input)
train_poly = poly.transform(train_input)

In [67]:
poly.fit(test_input)
test_poly = poly.transform(test_input)

In [70]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(train_poly, train_target)
lr.score(train_poly, train_target)

0.5425742830285067

In [71]:
lr.score(test_poly, test_target)

0.5382009984259057

# 결론

- gentoo 의 bill length를 bill depth, mass g, fliper length 로 추측하기엔 어려움이 있음
- 좋은 모델이 아니므로 다른 가공 방법, 다른 feature를 사용하는 것을 권장